*.opensdf
*.sdf
*.suo

*.log
*.tlog
*.lastbuildstate

*.cache
*.pdb
*.obj
*.aps



/GH3+.VC.db
/.vs

bin/
Release/
Debug/
/src/plugins/giveMeTimeToHookUpAGodDamnDebugger
/src/plugins/GH3+ Plugin Project

*.opendb